<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Create a Quiz</title>
</head>

<body>
    <div class="PageContainer">
        <a id="btnMenuAdmin" href="/admin">Admin</a>
        <div id="navBarMenu">
            <% const navigationLinks = [{text: 'Home', href: '/admin'},{text: 'Flash Cards', href: 'flashcards'},{text: 'Quiz Park', href: 'quiz'}, {text: 'Facts Checker', href: 'admin/fact'}]; %>
            <% navigationLinks.forEach((lnk) => { %>
                <a id="btnMenu" href="<%= lnk.href %>"><%= lnk.text %></a>
            <% }); %>
            
        </div>
  <h1>Create a New Quiz Data!</h1>

  <form action="/admin/quiz/<%=quiz._id%>?_method=PUT" method="POST">
    <label for="question">Question:</label><br>
    <input type="text" id="question" name="question" value="<%=quiz.question%>" <br><br>
    <div>
      <!-- <label>Answer:</label><br> -->
    <label>Options:</label><br>
  </div>
    <div id="optionsContainer">
        <div>
            <input type="radio" name="answerIndex" value="1" required  <% if (quiz.answerIndex === 1) { %> checked <% } %>> 
            <input type="text" name="options1" value="<%= quiz.options[0] %>">
        </div>
        <div>
            <input type="radio" name="answerIndex" value="2" required  <% if (quiz.answerIndex === 2) { %> checked <% } %>> 
            <input type="text" name="options2" value="<%=quiz.options[1]%>">
        </div>
        <div>
            <input type="radio" name="answerIndex" value="3"  <% if (quiz.answerIndex === 3) { %> checked <% } %>> 
            <input type="text" name="options3" value="<%=quiz.options[2]%>">
        </div>
        <div>
            <input type="radio" name="answerIndex" value="4"  <% if (quiz.answerIndex === 4) { %> checked <% } %>> 
            <input type="text" name="options4" value=" <%= quiz.options[3] %> ">
        </div>
        <input type="hidden" name="answers" value="options">
    </div>

    <br>

    <button type="submit">Save Question</button>
  </form>

</body>

</html>